  /* UTILITIES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    flex-wrap:wrap;
}

h1{
    font-weight: 800px;
}

img
{
   width: 50px;
   margin-top: 20px;
   margin-bottom: 20px;
}


.wrapper
{
    max-width: 1100px;
    margin: 0 auto;
}

.flex
{
    display: flex;
   justify-content: center;
    align-items: center;
    justify-content: space-between;
}
a{
    text-decoration: none;
    font-weight: 800px;
    text-transform: uppercase;
    color: #26303C;
   
}
a:hover
{
    color: #ED563B;
}

ul{
    list-style: none;
}


/*-------------------------------------------------------------------------------------------------------*/
  /* Navigation  */


.main-nav
{
   width: 100vw;
   background-color:#fff;
   padding: 20px 0;
   box-shadow: -1px 6px 19px -4px rgba(0,0,0,0.67);
   position: fixed;
  z-index: 1000;
 
}
.main-nav nav ul li{
    list-style: none;
    margin-right: 30px;
    
}

.main-nav .logo h1
{
    color : #26303C;
}
 span
{
    color:#ED563B;
}

.btn-sign-up
{ 
    color: #fff;
    background-color: #ED563B;
    padding: 10px 10px;
}

.btn-sign-up:hover
{
    color: #fff;
    background-color: #e68878f1;
    
}

/*-------------------------------------------------------------------------------------------------------*/

/* VEDIO SECTION */

.vedio 
{
    overflow: hidden;
    width: 100%;
    height: 100%;
}



.vedio-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50% , -50%);
    flex-direction: column;
    z-index: 999;
}

.vedio-text  h1 
{
    font-size: 70px;
    color: #fff;
}
.vedio-text h3
{
    color: #fff;
}

.overlay
{
    position:absolute;
    width:100%;
    height: 103%;
    background-color: #26303C; 
    opacity: 0.8;
    top: 74px;
    overflow: hidden;
}

/*-------------------------------------------------------------------------------------------------------*/

/*FEATURE OF WEBSITE*/

.choices
{
    flex-direction: column;
    margin-top: 130px;
}


.imag
{
    width: 136px;
    height: 135px;
    margin-bottom:20px;
}


.feature-section
{
   
    display: flex;
   flex-direction: column;
   width: 352px;
   margin-left: 10px;
}
.main-div
{
    
    margin-top: 106px;
    justify-content: center;
    margin-left: 350px;
  
}


.main-sec{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-sec img{
    margin-right: 20px;
}



/*-------------------------------------------------------------------------------------------------------*/

/* motivation section*/

.motivation 
{
    margin-top: 130px;
}
.motivation img{
    width: 100%;
    height: 100%;
}
.motivation-text{
  
    flex-direction: column;
    position:relative;
    bottom: 300px;
   
}

.motivation h1{
    color: #fff;
}
.motivation p
{
    color: #fff;
}
.motivation a
{
 margin-top: 10px;
}




/*-------------------------------------------------------------------------------------------------------*/
 /*NEW SECTION*/

 .classes
{
    flex-direction: column;
    margin-bottom: 20px;
}

.container
{
    display:grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 55px;
    margin-top: 100px;
   
  
}

.item1
{
   
  margin-left: 200px;
  
}

.item h2
{
  margin-top: 20px;
    
}
.item p
{
    margin-top: 15px;
    font-weight: 600px;
}


.item img{
    width: 800px;
    height: 300px;
}
.item .btn-sign-up
{
    margin-top: 20px;
    width: 168px;
    height: 54px;
    border-radius: 2px;
align-items: center;
}
.list
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    display: flex;
}
.item1 ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    width:387px ;
    height: 100px;
    padding: 20px 20px;
    margin: 10px;
    box-shadow: 5px 0px 10px -4px rgba(0,0,0,0.7);

}

/*-------------------------------------------------------------------------------------------------------*/

.time-table img
{
    width: 100%;
    margin-top: 90px;
  
}
.schedule
{
   
    position: relative;
    bottom: 1150px;
}

.schedule h1{
    color: #fff;
}

.schedule p{
    color: #fff;
}
.days
{
   flex-direction: row;
    justify-content: center;
}
.AB
{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 1050px;

}
.days .AB li a{
    color: #fff;
}
.days .AB li a:hover
{
 color: #ED563B;
}


.grid-item
{
    background-color:none;
    border: 2px solid;
    border-color: #fff;
    color: #fff;
    padding: 52px;
    text-align: center;
  

}
.grid{
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    grid-template-rows: 15% 15% 15% 15% 15%;
    justify-content: center;
    position: relative;
     bottom: 1000px;


}
/*-------------------------------------------------------------------------------------------------------*/

.new-class
{
    position: relative;
    bottom: 950px;
}
.box
{
    width: 368px;
   
    background-color:#fff;
    display: inline-block;
    margin: 10px;
    padding: 30px;
    text-align: center;
    box-shadow: 5px 0px 10px -4px rgba(0,0,0,0.7);
    justify-content: space-between;
   position: relative;
   bottom: 854px;
   border-radius: 5px;
}
.box img{
    width: 92%;
   
}

.box h1{

    margin-bottom: 34px;
    
    color:black;
}

.box p
{
margin-top: 30px;
}

.trainar
{
    display: flex;
    align-items: stretch;
    justify-content: center;
}

/*-------------------------------------------------------------------------------------------------------*/

.contect-section
{
    display: grid;
    position: relative;
    bottom: 700px;
    grid-template-columns: 2fr 2fr;
   gap: 5px;
   overflow: hidden;
}

.map
{
   
    margin-left: 0;
    
}
.map iframe{
    width: 900px;
    height: 600px;
    
}

.form img{
    width: 900px;
    height: 600px;
    margin-top: 1px;
}
.contect-form
{
    position: relative;
    bottom: 574px;
    width: 74%;
    height: 46%;
    background-color:#fff;
    margin-left: 80px;
}
.name
{
    padding: 60px 60px;
}
.name input{
    
    padding: 20px;
    padding-right: 40px;
    align-content: space-between;
}

.input
{
    padding: 20px;
    padding-right: 300px;
    padding-bottom: 20px;
    align-content: space-between;  
    margin-left: 54px;
}
.input1
{
    margin-top: 20px;
    padding: 20px;
    padding-right: 300px;
    padding-bottom: 60px;
    align-content: space-between;  
    margin-left: 54px;
}

.PQR
{
    margin-left:54px ;
}

h4
{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 450px;
    left: 600px;
}